<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>MPN</th>
        <th>Manufacturer</th>
        <th>Description</th>
        <th>Datasheet</th>
        <th>Location</th>
        <th>Amount</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr>
        <td>{{Id}}</td>
        <td>{{MPN}}</td>
        <td>{{Manufacturer}}</td>
        <td>{{Description}}</td>
        <td>
          {{#ifNotEmpty Datasheet}}
          <a href="{{Datasheet}}" target="_blank"><i class="bi bi-file-earmark-pdf"></i></a>
          {{/ifNotEmpty}}
        </td>
        <td>{{Location}}</td>
        <td>{{Amount}}</td>
        <td><a onclick="showEditPartForm({{Id}})"><i class="bi bi-pencil-square"></i></a></td>
        <td>
          {{#ifEq Amount 0}}
          <a onclick="if(confirm('Are you sure?')){API_DeletePart({{Id}})}"><i class="bi bi-trash"></i></a>
          {{/ifEq}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div class="btn btn-primary" onclick="showCreateNewPartForm()">New</div>